$white: whitesmoke;
$grey: lightgrey;
$blue: #D8F0FA;
$green: #7BCCBA;

* {
  text-decoration: none;
  outline: none;
  list-style-type: none;
  font-family: 'Exo 2', sans-serif;
  color: black;
  resize: none;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: $white;
}

main {
  width: 100%;
  height: 80vh;
  background-size: cover;

  display: flex;
}

// header
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60vh;
  display: flex;
  background-color: $blue;
  height: 110px;
  font-size: 24px;
  .contains-title {

  }
  .welcomeback {
    padding-left: 30px;
  }
  .contains-logo {
    margin-top: 20px;
    margin-right: 30px;
    img {
    max-height: 150px;
    max-width: 150px;
  }
}
}

// footer
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $blue;
  font-size: 10px;
  color: white;
  padding: 20px;
  height: 2vh;
  .captions {
  float: left;
  }
  .social-media {
  float: right;
  margin: 10px;
  }
  .fab.fa-twitter, .fab.fa-facebook, .fab.fa-instagram {
  margin: 10px;
  }
}

// Home page
.wrapper {
  display: flex;
  flex-direction: row;
  background-color: $white;
  font-size: 10px;
  color: black;
  .leftSide {
    display: flex;
    flex-direction: column;
    width: 33%;
  }
  .rightSide {
    display: flex;
    flex-direction: column;
    width: 33%;
  }

  .news{
    border: 5px solid $blue;
    width: 75%;
    height: 500px;
    margin: 30px;
    overflow: scroll;
    h1 {
      text-align: center;
    }
    ul {
      font-size: 12px;
      a:hover {
        color: red;
      }
    }
  }
  .latestBlogs {
    border: 5px solid $blue;
    width: 75%;
    margin: 30px;
    height: auto;
    text-align: center;
    overflow: scroll;
  }
  .mapsOffices {
    border: 5px solid $blue;
    width: 75%;
    margin: 30px;
    height: 600px;
    text-align: center;
  }
  .tweets {
    border: 5px solid $blue;
    width: 75%;
    margin: 30px;
    height: 600px;
    text-align: center;
  }
}

// Register page
.registerForm {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 5px solid $blue;
  width: 50%;
  margin: 50px;
  height: 100%;
  align-items: center;
  background-color: $white;
}

// Login page
.loginForm {
  display: inline-flex;
  flex-direction: column;
  border: 5px solid $blue;
  width: 50%;
  margin: 50px;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  background-color: $white;
}

.formWrapper {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 100px;
  height: 60%;
}

 // Buttons
.imageUpload {
  background-color: $blue;
  color: black;
}

.imageUpload:hover {
  cursor: pointer;
  background: pink;
}

.registerLink:hover {
  cursor: pointer;
  background: pink;
}
.loginLink:hover {
  cursor: pointer;
  background: pink;
}

.searchButton {
  background-color: $blue;
  color: black;
}

.searchButton:hover {
  cursor: pointer;
  background: pink;
}

.logInButton {
  background-color: $blue;
  color: black;
}

.logInButtonClick:hover {
  cursor: pointer;
  background: pink;
}

.registerButtonClick {
  background-color: $blue;
  color: black;
}
.registerButtonClick:hover {
  cursor: pointer;
  background: pink;
}

button {
  background-color: $blue;
  color: black;
}

// Navigation
.navbar {
  background: $blue;
  .links {
  display: flex;
  flex-direction: row;
  width: 30%;
  background: $blue;
  justify-content: space-between;
  margin-left: 30px;
  }

}
.wrapper {
  display: flex;
  flex-direction: row;
  background-color: $white;
  font-size: 10px;

  .leftSide {
    display: flex;
    flex-direction: column;
    width: 33%;
  }
  .rightSide {
    display: flex;
    flex-direction: column;
    width: 33%;
  }
  .searchBar {
    border: 5px solid $blue;
    width: 75%;
    height: 400px;
    margin: 30px;
    text-align: center;
    .searchInput {
          margin: 5px;
    }
    .buttonDiv {
      margin: 5px;
    }
  }
}
// Profile page
  .wrapper {
    display: flex;
    flex-direction: row;
    background-color: $white;
    font-size: 10px;
    .leftSide {
      display: flex;
      flex-direction: column;
      width: 33%;
    }
.aboutMe {
  border: 5px solid $blue;
    width: 75%;
  height: 500px;
  margin: 30px;
  text-align: center;
}
.myBlogPosts {
  border: 5px solid $blue;
  width: 75%;
  margin: 30px;
  height: auto;
  text-align: center;
  overflow: scroll;
}
.faveBlogs {
  border: 5px solid $blue;
  width: 75%;
  margin: 30px;
  height: 600px;
  text-align: center;
}
.mySocial {
  border: 5px solid $blue;
  width: 75%;
  margin: 30px;
  height: 600px;
  text-align: center;
}
}

// search bar
.search {
  border: 3px solid $blue;
  width: 75%;
  height: 400px;
  margin: 30px;
  text-align: center;
  .searchInput {
        margin: 5px;
  }
  .buttonDiv {
    margin: 5px;
  }
}

// popup
.popup {
  border: 1px solid $blue;
}

// about page
.aboutPage {
  background-color: $white;
  border: 10px solid $blue;
  margin: 20px;
  padding: 10px;
  p {
    color: black;
  }
}

// contact page
.contacts {
  margin: 0 auto;
  background-color: $white;
  width: 50%;
  padding: 10px;
  p {
    color: black;
  }
}

.img {

  width: 140px;
  height: 180px;
}
