$white: whitesmoke;
$grey: lightgrey;
$blue: #D8F0FA;
$green: #7BCCBA;
$red: #EC3739;
$dark-green: #136E37;
$nhs-blue: #007AC3;

* {
  text-decoration: none;
  outline: none;
  list-style-type: none;
  font-family: 'Exo 2', sans-serif;
  color: black;
  resize: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Buttons
button:hover {
  cursor: pointer;
  background: #7BCCBA;
}

body {
  background-color: $white;
}

main {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 80vh;
  overflow: scroll;
  overflow: hidden;
}

// header
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: $blue;
  font-size: 24px;
  .contains-title {
    margin-left: 44%;
    margin-top: 11px;
    position: absolute;
  }
  .welcomeback {
    padding-left: 30px;
    margin-top: 22px;
    span {
      text-transform: capitalize;;
      color: $dark-green;
    }
  }
  .contains-logo {
    margin-top: 20px;
    margin-right: 30px;
    img {
    max-height: 160px;
    max-width: 160px;
  }
}
}

// footer
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $blue;
  font-size: 10px;
  color: white;
  padding: 20px;
  height: 60px;
  .captions {
  }
  .nhs-logo {
    display: flex;
    align-items: center;
    margin: 0 auto;
    span {
      padding: 5px;
    }
    img {
      width: 60px;
      height: 60px;
      padding-top: 8px;
    }
  }
  .social-media {
  margin: 10px;
  }
  .fab.fa-twitter, .fab.fa-facebook, .fab.fa-instagram {
  margin: 10px;
  }
}

// Home page
.wrapperHome {
  background-color: $white;
  color: black;
  .leftSide {
    display: flex;
    flex-direction: column;
    .news{
      display: flex;
      flex-direction: column;
      width: 350px;
      background-color: rgba(236, 55, 57, 0.1);
      border-radius: 20px;
      height: auto;
      margin: 30px;
      overflow: scroll;
      padding: 10px;
      font-size: 16px;
      h1 {
        text-align: center;
        font-size: 28px;
      }
      ul {
        a:hover {
          color: $red;
        }
      }
    }
  }
  .rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px;
    width: 50%;
    .search {
      padding: 10px;
      height: 300px;
      background-color: rgba(253, 244, 169, 0.4);
      border-radius: 20px;
      text-align: center;
      margin-bottom: 30px;
      i {
        padding-right: 5px;
      }
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
        padding-top: 10px;
      }
      .search-button {
        display: flex;
        justify-content: row;
        align-items: center;
        justify-content: center;
      }
      .searchInput {
        height: 30px;
        width: 60%;
        font-size: 12px;
        margin: 10px;
        border: 3px solid rgba(123, 204, 186, 0.2);
        padding-left: 10px;
      }
      .searchButton {
        width: 60px;
        height: 30px;
        font-size: 12px;
        border: 3px solid rgba(123, 204, 186, 0.2);
      }
      .popup {
        border: 3px solid rgba(123, 204, 186, 0.2);
        overflow-y: scroll;
        overflow-x: hidden;
        cursor: pointer;
        height: 110px;
        width: 80%;
        margin: 5px auto;
        background: $white;
        font-size: 14px;
        li:hover {
          color: $red;
        }
        button {
          width: 60px;
          height: 30px;
          font-size: 12px;
          border: 3px solid rgba(236, 55, 57, 0.4);
          margin: 3px;
          text-align: center;
        }
        button:hover {
          background-color: rgba(236, 55, 57, 0.4);
        }

      }
    }
    .tweets {
      background-color: rgba(216, 240, 250, 0.5);
      border-radius: 20px;
      text-align: center;
      overflow: scroll;
      height: 350px;
      h1 {
        font-size: 26px;
      }
      i {
        margin-right: 10px;
      }
    }
  }
  .latestBlogs {
    background-color: rgba(123, 204, 186, 0.2);
    border-radius: 20px;
    width: 80%;
    margin: 30px 0;
    height: auto;
    text-align: center;
    overflow: scroll;
    padding: 10px;
    i {
      padding-right: 10px;
    }
    h1 {
      font-size: 28px;
    }
    h2 {
      padding-top: 10px;
      font-size: 18px;
    }
    h2:hover {
      color: $red;
    }
  }
}

// Register page
.formWrapperRegister {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  .registerForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    height: 60%;
    background-color: rgba(216, 240, 250, 0.5);
    border-radius: 20px;
    h2 {
      text-align: center;
      color: $nhs-blue;
    }
    h3 {
      text-align: center;
    }
    .registerButtonClick {
      margin: 0 auto;
      width: 60px;
      height: 30px;
      font-size: 12px;
      background-color: rgba(123, 204, 186, 0.2);
      border: none;
    }
    .registerButtonClick:hover {
      background-color: $green;
    }
    .registerLink {
      color: $nhs-blue;
    }
    .input {
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
      height: 30px;
      width: 50%;
      font-size: 14px;
      margin: 10px;
      border: 3px solid rgba(123, 204, 186, 0.2);
      padding-left: 10px;
    }
      p {
        padding: 10px;
        span {
          color: $nhs-blue
        }
        span:hover {
          color: $green;
        }
      }
    }
  }
}

// Login page
.formWrapperLogin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  .loginForm {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    width: 30%;
    height: 60%;
    background-color: rgba(216, 240, 250, 0.5);
    border-radius: 20px;
    h2 {
      text-align: center;
      color: $nhs-blue;
    }
    h3 {
      text-align: center;
    }
    .input {
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
      height: 30px;
      width: 50%;
      font-size: 14px;
      margin: 10px;
      border: 3px solid rgba(123, 204, 186, 0.2);
      padding-left: 10px;
    }

      p {
        padding: 10px;
        span {
          color: $nhs-blue;
        }
        span:hover {
          color: $green;
        }
      }
    }
    .logInButtonClick {
      margin: 0 auto;
      width: 60px;
      height: 30px;
      font-size: 12px;
      background-color: rgba(123, 204, 186, 0.2);
      border: none;
    }
    .logInButtonClick:hover {
      background-color: $green;
    }
  }
}

// Navigation
.navbar {
  background: $blue;
  .links {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  width: 30%;
  background: $blue;
  justify-content: space-between;
  margin-left: 30px;
  // padding: 40px;
    .navbarHomeLink:hover, .navbarMain:hover, .navbarAboutLink:hover, .navbarProfileLink:hover, .navbarLoginLink:hover, .navbarRegisterLink:hover, .navbarLogout:hover,
    .navbarContactLink:hover, .loginLink:hover, .registerLink:hover {
      cursor: pointer;
      color: #7BCCBA;
  }

  }
}
//viewProfile
  .viewProfile {
    display: flex;
    flex-direction: row;
    background-color: $white;
    font-size: 10px;
    .leftSide {
      display: flex;
      flex-direction: column;
      width: 33%;
      .aboutMe {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(253, 244, 169, 0.4);
        border-radius: 20px;
        width: 80%;
        height: 92%;
        margin: 30px 0 30px 60px;
        text-align: center;
        h1 {
          padding: 10px;
        }
        h2 {
          padding: 10px;
          font-size: 22px;
          text-transform: capitalize;
        }
        .img {
          border-radius: 20px;
          width: 233px;
          height: 300px;
        }
        .content {
          font-size: 14px;
          margin: 10px;
        }
      }
    }
    .myBlogPosts {
      display: flex;
      flex-direction: column;
      margin: 30px auto;
      background: rgba(123, 204, 186, 0.2);
      border-radius: 20px;
      width: 50%;
      margin: 30px auto;
      height: auto;
      overflow: scroll;
      h1 {
        display: flex;
        justify-content: center;
        margin: 10px;
        font-size: 28px;
        margin: 10px;
        text-align: center;
      }
      h2 {
        text-align: center;
        font-size: 24px;
        margin: 10px 20px;
      }
      p {
        font-size: 14px;
        margin: 10px 20px;
        text-align: justify;
        max-height: 200px;
        overflow: scroll;
      }
      .dots {
        text-align: center;
      }
    }
    .rightSide {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 30px 60px 30px 30px;
      .faveBlogs {
        background: rgba(236, 55, 57, 0.2);
        border-radius: 20px;
        overflow: scroll;
        height: 50%;
        text-align: center;
        h1 {
          padding: 10px;
          font-size: 22px;
        }
        p {
          text-align: left;
          margin: 10px;
          font-size: 14px
        }
      }
      .mySocial {
        background: rgba(216, 240, 250, 0.5);
        border-radius: 20px;
        text-align: center;
        overflow: scroll;
        height: 300px;
      }
    }
  }
// Profile page
  .wrapperProfile {
    background-color: $white;
    font-size: 10px;
    .leftSide {
      width: 33%;
      .aboutMe {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(253, 244, 169, 0.4);
        border-radius: 20px;
        width: 80%;
        height: 92%;
        margin: 30px 0 30px 60px;
        text-align: center;
        h1 {
          padding: 10px;
        }
        h2 {
          padding: 10px;
          font-size: 22px;
          text-transform: capitalize;
        }
        .profileImg{
          border-radius: 20px;
          width: 233px;
          height: 300px;
        }
        .imageUpload {
          width: 100px;
          height: 20px;
          font-size: 12px;
          background: rgba(123, 204, 186, 0.2);
          margin: 5px;
        }
        .imageUpload:hover {
          background-color: #7BCCBA;
        }
        .bottom {
          display: flex;
          flex-direction: column;
          align-items: center;
          .content {
            width: 233px;
            margin: 5px;
            text-align: left;
            padding: 5px;
            font-size: 14px;
          }
          .text-aboutme {
            font-size: 14px;
            margin-top: 20px;
            width: 233px;
            height: 100px;
            border: 1px solid rgba(123, 204, 186, 0.2);
          }
          button {
            width: 100px;
            height: 20px;
            font-size: 12px;
            background: rgba(123, 204, 186, 0.2);
            margin: 5px;
          }
        }
      }
    }
    .myBlogPosts {
      display: flex;
      flex-direction: column;
      margin: 30px auto;
      background: rgba(123, 204, 186, 0.2);
      border-radius: 20px;
      width: 50%;
      margin: 30px auto;
      height: auto;
      overflow: scroll;
      h1 {
        display: flex;
        justify-content: center;
        margin: 10px;
        font-size: 28px;
        margin: 10px;
        text-align: center;
      }
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .create-myblog {
          display: flex;
          justify-content: center;
          width: 140px;
          height: 40px;
          background: rgba(253, 244, 169, 0.4);
          margin: 0 auto;
          font-size: 14px;
          border: 1px solid rgba(253, 244, 169, 0.4);
        }
        .create-myblog:hover {
          background-color: $green;
        }
        li {
          h2 {
            text-align: center;
            font-size: 24px;
            margin: 10px 20px;
          }
          p {
            font-size: 14px;
            margin: 10px 20px;
            text-align: justify;
            max-height: 200px;
            overflow: scroll;
          }
          .edit-myblog {
            width: 50px;
            height: 20px;
            font-size: 10px;
            background: rgba(253, 244, 169, 0.4);
            margin-left: 20px;
            margin-right: 10px;
            font-size: 14px;
            border: 1px solid rgba(253, 244, 169, 0.4);

          }
          .edit-myblog:hover {
            background-color: $green;
          }
          .delete-myblog {
            width: 50px;
            height: 20px;
            font-size: 10px;
            background: rgba(236, 55, 57, 0.2);
            margin: 5px;
            font-size: 14px;
            border: none;
          }
          .delete-myblog:hover {
            background-color: $red;
          }
        }

      }
    }
    .rightSide {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 30px 60px 30px 30px;

    .faveBlogs {
      background: rgba(236, 55, 57, 0.2);
      border-radius: 20px;
      overflow: scroll;
      height: 50%;
      text-align: center;
      h1 {
        padding: 10px;
        font-size: 22px;
      }
      p {
        text-align: left;
        margin: 10px;
        font-size: 14px
      }
    }
    .mySocial {
      background: rgba(216, 240, 250, 0.5);
      border-radius: 20px;
      text-align: center;
      overflow: scroll;
      height: 300px;

    }
  }
}

// about page
.aboutPage {
  margin: 0 auto;
  background-color: $white;
  width: 50%;
  padding: 20px;
  p {
    color: black;
  }
}

// contact page
.contacts {
  margin: 0 auto;
  background-color: $white;
  width: 50%;
  padding: 40px;
  p {
    color: black;
  }
}

.img {
  width: 140px;
  height: 180px;
}

.twitterContact, .fbContact, .instaContact {
  color: $nhs-blue
}
.twitterContact:hover, .fbContact:hover, .instaContact:hover {
  cursor: pointer;
  color: #7BCCBA;
}
;
.navbarHomeLink:hover, .navbarMain:hover, .navbarAboutLink:hover, .navbarProfileLink:hover, .navbarLoginLink:hover, .navbarRegisterLink:hover, .navbarLogout:hover,
.navbarContactLink:hover, .loginLink:hover, .registerLink:hover {
  cursor: pointer;
  color: #7BCCBA;
}

.newsPage {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  background: rgba(123, 204, 186, 0.2);
  .title {
    text-align: center;
    h1 {
      color: $nhs-blue;
    }
  }
  .article {
    overflow: scroll;
    padding-top: 15px;
  }
}

.aboutPic {
  img {
    background-size: contain;
  }
}

.myBlogPosts {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  background: rgba(123, 204, 186, 0.2);
  overflow: scroll;
  h1 {
    text-align: center;
    font-size: 28px;
    margin: 10px;
  }
  p {
    text-align: justify;
    margin: 10px;


  }
  .delete-comment {
    width: 50px;
    height: 20px;
    font-size: 10px;
    background: rgba(236, 55, 57, 0.2);
    margin: 10px;
    font-size: 14px;
    border: none;
  }
  .delete-comment:hover {
    background-color: $red;
  }
  h3 {
    padding: 10px;
  }
  textarea {
    width: 300px;
    margin-left: 10px;
    font-size: 14px;
  }
  button {
    width: 50px;
    height: 20px;
    font-size: 10px;
    background: rgba(253, 244, 169, 0.4);
    margin: 10px;
    font-size: 14px;
    border: none;
  }
  button:hover {
    background-color: $green;
  }
}

.edit {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  background: rgba(123, 204, 186, 0.2);
  overflow: scroll;
  h1 {
    text-align: center;
    font-size: 28px;
  }
  h3 {
    margin: 5px;
  }
  input {
    width: 100%;
    height:20px;
    font-size: 14px;
    overflow: scroll;
    border: 1px solid rgba(123, 204, 186, 0.2);
  }
  textarea {
    font-size: 14px;
    width: 100%;
    height: 550px;
    font-size: 14px;
    overflow: scroll;
    border: 1px solid rgba(123, 204, 186, 0.2);
  }
  .submit {
    width: 50px;
    height: 20px;
    background: rgba(253, 244, 169, 0.4);
    margin: 10px;
    font-size: 14px;
    border: none;
  }
  .submit:hover {
    background-color: $green;
  }

}

.mainPage {
  // background-color: #91B5D5;
  // width: 100%;
  // height: 80vh;
  img {

    // background-size: 200px 500px;
    // margin-left: 100px;
  }
}
